[run]
source = ai/, apps/, config/, core/
omit = */migrations/*, */tests/*, */.venv/*, config/wsgi.py, core/management/commands/*, core/validators.py

[report]
fail_under = 80
show_missing = True
precision = 2
